# Python
.venv/
venv/
__pycache__/
*.pyc
.env

# Logs / temp
*.log
backend/data/cache/
backend/data/logs/
backend/data/*.sqlite3
backend/data/*.sqlite3-*

# VS Code
.vscode/

# Node / React
node_modules/
dist/
build/
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db
